@font-face {
  font-family: PTSB;
  src: url(../fonts/PTSerif-Bold.ttf);
}
@font-face {
  font-family: PTSBI;
  src: url(../fonts/PTSerif-BoldItalic.ttf);
}
@font-face {
  font-family: PTSI;
  src: url(../fonts/PTSerif-Italic.ttf);
}
@font-face {
  font-family: PTSR;
  src: url(../fonts/PTSerif-Regular.ttf);
}
@font-face {
  font-family: GillSans;
  src: url(../fonts/GillSans.ttc);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: GillSans;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.blog-content {
  max-width: 1000px;
  margin: 0 auto;
}
.blog-content .blog-header {
  margin-top: 64px;
  margin-bottom: 30px;
}
.blog-content .blog-header h1 {
  font-size: 25px;
  margin-bottom: 5px;
}
.blog-content .blog-header hr {
  width: 229px;
}
.blog-content .blog-cards {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  text-decoration: none;
}
.blog-content .blog-cards .card {
  width: 460px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.blog-content .blog-cards .card .last {
  margin-bottom: 85px;
}
.blog-content .blog-cards .card .blog-sum {
  margin-left: 20px;
}
.blog-content .blog-cards .card .blog-sum img {
  width: 380px;
  height: 140px;
}
.blog-content .blog-cards .card .blog-sum h3 {
  font-size: 15px;
  margin-top: 20px;
}
.blog-content .blog-cards .card .blog-sum p {
  color: #EE4367;
  font-size: 13px;
}
.blog-content .blog-cards .card .date {
  min-width: 60px;
  height: 60px;
  background-color: #EE4367;
  text-align: center;
  color: white;
}
.blog-content .blog-cards .card .date a {
  text-decoration: none;
  color: inherit;
}
.blog-content .blog-cards .card .date .day {
  font-size: 22px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.blog-content .blog-cards .card .date .month {
  font-size: 12px;
}

.last-card {
  padding-bottom: 85px;
}

@media screen and (max-width: 1000px) {
  .blog-content {
    max-width: 80%;
    margin: 0 auto;
  }
}
.blog-page-content {
  max-width: 1000px;
  margin: 0 auto;
}
.blog-page-content h3 {
  color: #EE4367;
  font-size: 22px;
}
.blog-page-content p {
  font-size: 20px;
}
.blog-page-content .blog-hero {
  background-image: linear-gradient(rgba(238, 67, 103, 0.5), rgba(238, 67, 103, 0.5)), url(../images/blog.png);
  background-image: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 981px;
  height: 300px;
  margin-top: 55px;
  padding-top: 70px;
}
.blog-page-content .blog-hero .date {
  text-align: center;
  margin: 0 auto;
  width: 155px;
  height: 155px;
  background-color: #EE4367;
  color: white;
}
.blog-page-content .blog-hero .date .day {
  font-size: 55px;
  margin-bottom: 0px;
  padding-top: 25px;
}
.blog-page-content .blog-hero .date .month {
  font-size: 31px;
}
.blog-page-content .header-one {
  margin-top: 55px;
  max-width: 85%;
  margin-bottom: 55px;
}
.blog-page-content .header-two {
  max-width: 85%;
  margin-bottom: 151px;
}

@media screen and (max-width: 1000px) {
  .blog-page-content {
    max-width: 80%;
  }
}
.contact-content {
  max-width: 1000px;
  margin: 0 auto;
}
.contact-content .contact-header {
  margin-top: 63px;
  margin-bottom: 75px;
}
.contact-content .contact-header hr {
  width: 229px;
}
.contact-content .contact-header h1 {
  font-size: 25px;
  margin-bottom: 5px;
}
.contact-content .form-map {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-content .form-map .form {
  display: flex;
  flex-direction: column;
}
.contact-content .form-map .form .input-box {
  width: 529px;
  background-color: #F5F5F5;
  border-style: none;
  padding-left: 20px;
  font-size: 16px;
  margin-bottom: 20px;
}
.contact-content .form-map .form .reg {
  height: 60px;
}
.contact-content .form-map .form .long {
  height: 200px;
}
.contact-content .form-map .form a {
  color: white;
  background-color: #EE4367;
  width: 167px;
  height: 60px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 90px;
}

@media screen and (max-width: 1000px) {
  .contact-content {
    max-width: 80%;
  }

  .contact-header {
    width: 229px;
    margin: 0 auto;
    text-align: center;
  }

  .form {
    width: 530px;
    margin: 0 auto;
  }
  .form a {
    margin: 0 auto;
  }

  .map {
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
nav {
  max-width: 1000px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;
}
nav span {
  color: #EE4367;
  font-size: 20px;
}
nav .logo {
  max-width: 10%;
  height: 53%;
}
nav .links {
  max-width: 85%;
}
nav .links a {
  font-size: 15px;
  text-decoration: none;
  font-family: GillSans;
  margin-left: 20px;
}

.home {
  border-bottom: 2px solid white;
  color: white;
}
.home a,
.home img {
  border-style: none;
}

.other {
  border-bottom: 2px solid black;
  color: black;
}
.other a,
.other img {
  border-style: none;
}
.other .logo {
  border-style: none;
}
.other img {
  background-color: black;
}

@media screen and (max-width: 1000px) {
  nav {
    max-width: 90%;
  }
  nav span {
    margin: 0 10px;
  }
  nav .links {
    font-size: 8px;
  }
}
.hero {
  background-image: linear-gradient(rgba(255, 209, 64, 0.5), rgba(255, 209, 64, 0.5)), url(../images/herohome.png);
  height: 500px;
  width: 100%;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -80px auto 0 auto;
}
.hero .header {
  text-align: center;
  padding-top: 150px;
  font-size: 40px;
  color: white;
  margin-bottom: 0px;
  font-family: PTSR;
}
.hero .sub-header {
  color: #EE4367;
  font-size: 20px;
  margin-bottom: 50px;
}
.hero .header-text {
  font-size: 20px;
  color: white;
  margin-top: 50px;
  max-width: 714px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.hero .hero-button {
  width: 120px;
  height: 40px;
  background-color: #EE4367;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.quote {
  max-width: 789px;
  margin: 0 auto;
  margin-bottom: 76px;
}
.quote h2 {
  color: #ffd140;
  font-size: 15px;
  margin-top: 70px;
}
.quote h3 {
  font-size: 15px;
  color: #EE4367;
  margin-top: 20px;
}
.quote p {
  font-size: 10px;
}

@media screen and (max-width: 1000px) {
  .quote {
    max-width: 80%;
  }
}
.event-section {
  background-color: #540D6E;
  min-height: 320px;
  width: 100%;
}
.event-section .event-header {
  color: white;
  font-size: 25px;
  max-width: 1198px;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 25px;
}
.event-section .event-header h2 {
  font-size: 25px;
}
.event-section .event-header hr {
  width: 392px;
}
.event-section .events {
  padding-top: 35px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1198px;
  margin: 0 auto;
}
.event-section .events .eventsum {
  display: flex;
  justify-content: space-between;
  width: 210px;
}
.event-section .events .eventsum .date {
  min-width: 60px;
  height: 60px;
  background-color: #EE4367;
  text-align: center;
  color: white;
}
.event-section .events .eventsum .date a {
  text-decoration: none;
  color: inherit;
}
.event-section .events .eventsum .date .day {
  font-size: 22px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.event-section .events .eventsum .date .month {
  font-size: 12px;
}
.event-section .events .eventsum .event-text {
  margin-left: 20px;
}
.event-section .events .eventsum .event-text h3 {
  color: white;
  font-size: 15px;
}
.event-section .events .eventsum .event-text p {
  color: #EE4367;
  font-size: 13px;
}

@media screen and (max-width: 1000px) {
  .events {
    max-width: 80%;
  }
  .events .eventsum {
    padding-bottom: 20px;
  }
}
.footer {
  background-color: #EE4367;
  height: 455px;
  width: 100%;
  text-align: center;
  color: white;
}
.footer .logo {
  padding-top: 35px;
  padding-bottom: 45px;
}
.footer .info {
  font-size: 16px;
  padding-bottom: 45px;
}
.footer .info p {
  margin-bottom: 5px;
}
.footer .subscribe {
  display: flex;
  justify-content: space-around;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.footer .subscribe .entry input {
  height: 60px;
  width: 529px;
  background-color: #F56B88;
  border-style: none;
  padding-left: 10px;
  font-size: 16px;
}
.footer .subscribe .subscribe-button {
  background-color: white;
  width: 167px;
  height: 60px;
  padding-top: 20px;
}
.footer .subscribe .subscribe-button a {
  color: #EE4367;
  text-decoration: none;
  text-align: center;
}
.footer .socials {
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  width: 150px;
  margin: 0 auto;
}
.footer .socials a {
  text-decoration: none;
  color: inherit;
}
.footer .copyright {
  margin-top: 45px;
}

.hero-image-about {
  background-image: linear-gradient(rgba(255, 209, 64, 0.5), rgba(255, 209, 64, 0.5)), url(../images/about-hero.png);
  height: 379px;
  max-width: 979px;
  margin: 0 auto;
  margin-top: 85px;
}

.about-content {
  max-width: 979px;
  margin: 0 auto;
  margin-bottom: 95px;
}
.about-content h3 {
  margin-top: -20px;
  font-size: 25px;
}
.about-content hr {
  width: 229px;
}
.about-content p {
  margin-top: 36px;
  font-size: 16px;
}

@media screen and (max-width: 1000px) {
  .hero-image-about {
    max-width: 90%;
  }

  .about-content {
    max-width: 90%;
  }
}
.gallery-header {
  font-size: 25px;
  margin-top: 63px;
  margin-bottom: 30px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
}
.gallery-header hr {
  width: 229px;
  margin-bottom: 30px;
}

.gallery-images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.gallery-images .one {
  width: 489px;
  height: 187px;
  margin-bottom: 20px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.5), rgba(255, 209, 64, 0.5)), url(../images/1.png);
}
.gallery-images .two {
  height: 187px;
  width: 187px;
  margin-bottom: 20px;
  background-image: linear-gradient(rgba(238, 67, 103, 0.5), rgba(238, 67, 103, 0.5)), url(../images/2.png);
}
.gallery-images .three {
  height: 187px;
  width: 265px;
  margin-bottom: 20px;
  background-image: linear-gradient(rgba(8, 173, 105, 0.5), rgba(8, 173, 105, 0.5)), url(../images/3.png);
}
.gallery-images .four {
  height: 306px;
  width: 603px;
  margin-bottom: 20px;
  background-image: linear-gradient(rgba(84, 13, 110, 0.5), rgba(84, 13, 110, 0.5)), url(../images/4.png);
}
.gallery-images .five {
  width: 355px;
  height: 306px;
  margin-bottom: 20px;
  background-image: linear-gradient(rgba(59, 206, 171, 0.5), rgba(59, 206, 171, 0.5)), url(../images/5.png);
}

@media screen and (max-width: 1000px) {
  .gallery-header {
    max-width: 90%;
  }
}
.hero-gallery-one {
  background-image: linear-gradient(rgba(255, 209, 64, 0.5), rgba(255, 209, 64, 0.5)), url(../images/1.png);
}

.hero-gallery-two {
  background-image: linear-gradient(rgba(238, 67, 103, 0.5), rgba(238, 67, 103, 0.5)), url(../images/2.png);
}

.hero-gallery-three {
  background-image: linear-gradient(rgba(8, 173, 105, 0.5), rgba(8, 173, 105, 0.5)), url(../images/3.png);
}

.hero-gallery-four {
  background-image: linear-gradient(rgba(84, 13, 110, 0.5), rgba(84, 13, 110, 0.5)), url(../images/4.png);
}

.hero-gallery-five {
  background-image: linear-gradient(rgba(59, 206, 171, 0.5), rgba(59, 206, 171, 0.5)), url(../images/5.png);
}

.gallery-hero {
  max-width: 980px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-gallery-text {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.hero-gallery-text .number {
  font-size: 300px;
  margin-top: -275px;
  text-shadow: 2px 2px #000;
}
.hero-gallery-text .title {
  font-size: 130px;
  margin-top: -120px;
  text-shadow: 2px 2px #000;
}

.one {
  color: #FFD140;
}

.two {
  color: #EE4367;
}

.three {
  color: #08AD69;
}

.four {
  color: #540D6E;
}

.five {
  color: #3BCEAB;
}

.gallery-text {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 73px;
  font-size: 16px;
}
.gallery-text p {
  width: 450px;
}

@media screen and (max-width: 1000px) {
  .gallery-hero {
    max-width: 90%;
  }

  .hero-gallery-text {
    max-width: 90%;
  }
  .hero-gallery-text .number {
    font-size: 200px;
    margin-top: -180px;
  }
  .hero-gallery-text .title {
    font-size: 100px;
    margin-top: -90px;
  }

  .gallery-text {
    max-width: 90%;
  }
}

/*# sourceMappingURL=styles.css.map */
