.hero-gallery-one {
    background-image: linear-gradient(rgba(#FFD140, .7), rgba(#FFD140, .7)), url(../images/1.png);
}

.hero-gallery-two {
    background-image: linear-gradient(rgba(#EE4367, .7), rgba(#EE4367, .7)), url(../images/2.png);
}

.hero-gallery-three {
    background-image: linear-gradient(rgba(#08AD69, .7), rgba(#08AD69, .7)), url(../images/3.png);

}

.hero-gallery-four {
    background-image: linear-gradient(rgba(#540D6E, .7), rgba(#540D6E, .7)), url(../images/4.png);

}

.hero-gallery-five {
    background-image: linear-gradient(rgba(#3BCEAB, .7), rgba(#3BCEAB, .7)), url(../images/5.png);
}

.gallery-hero {
    max-width: 980px;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

.hero-gallery-text {
    max-width: 980px;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;



    .number {
        font-size: 300px;
        margin-top: -275px;
        text-shadow: 2px 2px #000;

    }

    .title {
        font-size: 130px;
        margin-top: -120px;
        text-shadow: 2px 2px #000;
    }
}

.one {
    color: #FFD140;
}

.two {
    color: #EE4367;
}

.three {
    color: #08AD69;
}

.four {
    color: #540D6E;
}

.five {
    color: #3BCEAB;
}

.gallery-text {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 73px;
    font-size: 16px;

    p {
        width: 450px;
        font-weight: lighter;
        font-style: italic;
        word-spacing: 5px;
        line-height: 20px;
    }
}

@media screen and (max-width:1000px) {
    .gallery-hero {
        max-width: 90%;
    }

    .hero-gallery-text {
        max-width: 90%;

        .number {
            font-size: 200px;
            margin-top: -180px;
        }

        .title {
            font-size: 100px;
            margin-top: -90px;
        }
    }

    .gallery-text {
        max-width: 90%;
    }
}