.blog-content {
    max-width: 1000px;
    margin: 0 auto;

    .blog-header {
        margin-top: 64px;
        margin-bottom: 30px;

        h1 {
            font-size: 25px;
            margin-bottom: 5px;

        }

        hr {
            width: 229px;
        }
    }

    .blog-cards {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;

        max-width: 100%;
        text-decoration: none;



        .card {
            width: 460px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;


            .last {
                margin-bottom: 85px;
            }

            .blog-sum {
                margin-left: 20px;


                img {
                    width: 380px;
                    height: 140px;
                }

                h3 {
                    font-size: 15px;
                    margin-top: 20px;

                }

                p {
                    color: #EE4367;
                    font-size: 13px;
                }
            }

            .date {
                min-width: 60px;
                height: 60px;
                background-color: #EE4367;
                text-align: center;
                color: white;

                a {
                    text-decoration: none;
                    color: inherit;
                }

                .day {
                    font-size: 22px;
                    margin-bottom: 0px;
                    margin-top: 10px;
                }

                .month {
                    font-size: 12px;
                }
            }
        }


    }
}

.last-card {
    padding-bottom: 85px;
}

@media screen and (max-width:1000px) {

    .blog-content {
        max-width: 80%;
        margin: 0 auto;
    }


}