.event-section {
    background-color: #540D6E;
    min-height: 320px;
    width: 100%;

    .event-header {
        color: white;
        font-size: 25px;
        max-width: 1198px;
        margin: 0 auto;
        padding-top: 40px;
        padding-left: 25px;

        h2 {
            font-size: 25px;
            ;
        }

        hr {
            width: 392px;
        }
    }



    .events {
        padding-top: 35px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        max-width: 1198px;
        margin: 0 auto;

        .eventsum {
            display: flex;
            justify-content: space-between;
            width: 210px;

            .date {
                min-width: 60px;
                height: 60px;
                background-color: #EE4367;
                text-align: center;
                color: white;

                a {
                    text-decoration: none;
                    color: inherit;
                }

                .day {
                    font-size: 22px;
                    margin-bottom: 0px;
                    margin-top: 10px;
                }

                .month {
                    font-size: 12px;
                }
            }

            .event-text {
                margin-left: 20px;

                h3 {
                    color: white;
                    font-size: 15px;
                }

                p {
                    color: #EE4367;
                    font-size: 13px;
                }
            }

        }
    }
}

@media screen and (max-width:1000px) {
    .events {
        max-width: 80%;

        .eventsum {
            padding-bottom: 20px;
        }
    }
}