.hero {
    background-image: linear-gradient(rgba(#FFD140, .7), rgba(#FFD140, .7)), url(../images/herohome.png);
    height: 500px;
    width: 100%;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -80px auto 0 auto;
    font-weight: lighter;

    h1 {
        font-family: PTSR;
    }

    .header {
        text-align: center;
        padding-top: 150px;
        font-size: 40px;
        color: white;
        margin-bottom: 0px;

    }

    .sub-header {
        color: #EE4367;
        font-size: 20px;
        margin-bottom: 50px;
        font-style: italic;
    }

    .header-text {
        font-size: 20px;
        color: white;
        margin-top: 50px;
        max-width: 714px;
        margin: 0 auto;
        margin-bottom: 50px;
        font-style: italic;
    }

    .hero-button {
        width: 120px;
        height: 40px;
        background-color: #EE4367;
        color: white;
        text-decoration: none;
        padding: 10px;

    }
}