.quote {
    max-width: 789px;
    margin: 0 auto;
    margin-bottom: 76px;

    h2 {
        color: #ffd140;
        font-size: 15px;
        margin-top: 70px;
        font-style: italic;
        word-spacing: 5px;
        line-height: 20px;

    }

    h3 {
        font-size: 15px;
        color: #EE4367;
        margin-top: 20px;

    }

    p {
        font-size: 10px;
    }
}

@media screen and (max-width:1000px) {
    .quote {
        max-width: 80%;
    }
}