.contact-content {
    max-width: 1000px;
    margin: 0 auto;

    .contact-header {
        margin-top: 63px;
        margin-bottom: 75px;

        hr {
            width: 229px;
        }

        h1 {
            font-size: 25px;
            margin-bottom: 5px;
        }
    }

    .form-map {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .form {
            display: flex;
            flex-direction: column;

            .input-box {
                width: 529px;

                background-color: #F5F5F5;
                border-style: none;
                padding-left: 20px;
                font-size: 16px;
                margin-bottom: 20px;
            }

            .reg {
                height: 60px;
            }

            .long {
                height: 200px;
            }

            a {
                color: white;
                background-color: #EE4367;
                width: 167px;
                height: 60px;
                font-size: 16px;
                text-decoration: none;
                text-align: center;
                padding-top: 20px;
                margin-bottom: 90px;
            }
        }
    }
}

@media screen and (max-width:1000px) {
    .contact-content {
        max-width: 80%;

    }

    .contact-header {
        width: 229px;
        margin: 0 auto;
        text-align: center;
    }

    .form {
        width: 530px;
        margin: 0 auto;

        a {
            margin: 0 auto;
        }
    }

    .map {

        margin: 0 auto;
        margin-bottom: 50px;
    }
}